// This should specify override values for variables defined in default.scss
// to their value specific for the lab2 system.

$palette-colors: (
  primary: #4c0e5f,
  primary-contrast: cssvar(light-text-color),
  action: #e11237,
  action-contrast: cssvar(light-text-color),
  accent: #5e5f6c,
  accent-contrast: cssvar(light-text-color),
  alert: #ff4800,
  alert-contrast: cssvar(light-text-color),
  accept: #1b9003,
  accept-contrast: cssvar(light-text-color),
);

$other: ();

$lab2: map-merge(make-palette-colors($palette-colors), $other);

.lab2 {
  @include cssvars($lab2);
}
