<div class="my-lg-0 my-3">

  <div class="dropleft dropdown dropdown-inline">
    <button type="button" title="Actions" class="btn btn-light-info btn-icon moreactions" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="ki ki-bold-more-ver"></i>
    </button>
    <div class="dropdown-menu show" >
      <div title="Edit" data-id="5d26cf57-b858-41ba-a9f8-08d92c1c35d8"
        class="text-left dropdown-item Edit btn-hover-success cursor-pointer">
        <i class="fa fa-edit text-success mr-2"></i>Edit
      </div>
      <div title="Delete" data-id="5d26cf57-b858-41ba-a9f8-08d92c1c35d8"
        class="text-left dropdown-item Delete btn-hover-danger cursor-pointer">
        <i class="fa fa-trash text-danger mr-2"></i>Delete
      </div>
    </div>
  </div>
</div>
