
    <!--===================== Row  =======================-->
    <div class="row">
        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 display-flex">
            <!--===================== LOGIN FORM  =======================-->
            <form action="" class="login">
                <div class="display-flex">
                    <img src="../../assets/media/logos/truelogo.png" class="logo w-50" alt="">
                </div>
                <h2 class="txt-dark mt-3">Login</h2>
                <div class="input-wrapper">
                    <p class="input-text txt-dark">Email</p>
                    <input type="text" class="input  sharp-radious bg-white txt-muted" placeholder="mail@website.com"
                        name="" id="">
                </div>
                <div class="input-wrapper">
                    <p class="input-text txt-dark">Password</p>
                    <input type="password" class="input  sharp-radious bg-white txt-muted"
                        placeholder="Password" name="" id="">
                </div>
                <!--===================== FORGET PASSWORD =======================-->
                <div class="space-between">
                    <div class="checkbox-fill-success  mt-3">
                        <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
                        <label for="styled-checkbox-4">Remember me</label>
                    </div>
                    <a href="" class="txt-success-20 txt-bold  mt-3">Forget Password</a>
                </div>
                <input type="submit" class="input-submit  sharp-radious bg-success-20 txt-white" value="login">
                <p class="txt-dark txt-bold mt-3">Not Register Yet?
                    <span class="txt-success-20"> Create an Account</span>
                </p>
            </form>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
            <!--===================== LOGIN LEFT CONTENT  =======================-->
            <div class="login-bg display-flex bg-success-20">
                <img src="../../assets/media/login/login-bg.png" alt="">
            </div>
        </div>
    </div>