<div class="p-5 position-absolute left-0 zindex-5">
  <!-- card start -->
  <button class="btn btn-light-primary w-130px mr-3 font-weight-bold" 
  (click)="changeTheme('default')">green</button>
  <button class="btn btn-light-info w-130px mr-3 font-weight-bold" (click)="changeTheme('purple')">purple</button>
  <button class="btn btn-light-warning w-130px mr-3 font-weight-bold" (click)="changeTheme('orange')">Orange</button>
  <button class="btn btn-light-danger w-130px mr-3 font-weight-bold" (click)="changeTheme('red')">danger</button>

  <!-- <app-form></app-form> -->

</div>
<!-- <app-login></app-login> -->
<app-login-v2></app-login-v2>